<h1 class="text-center">All restaurants </h1>
<h2 class="text-center"><%= link_to "Add a new restaurant", new_restaurant_path, {class: "btn btn-primary"} %></h2>


<ol>
  <% @restaurants.each do |restaurant| %>
      <li><strong><%= restaurant.name %></strong>
      <p>Contact: <%= restaurant.phone_number %></p>
      <span><%= link_to "REVIEW", new_restaurant_review_path(restaurant), {class: "label label-primary"}%></span>
      <span><%= link_to "VIEW", restaurant_path(restaurant), {class: "label label-primary"}%></span>
      </li>
      <hr>
  <% end %>
  </ol>


